.grid__items {
  position: relative;
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    background-color: #4D4C4D;
    border-bottom: 1px solid #4D4C4D
  }
  &-header {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 1px;
    background-color: #1E1F21;
    border-bottom: 1px solid #4D4C4D;
  }
  &-weekNameCell {
    min-width: 140px;
    min-height: 24px;
    background-color: #1E1F21;
    color: #DDDCDD;

    &>div {
      display: flex;
      justify-content: flex-end;
      padding-right: 8px;
    }
  }
  &__itemCell {
    min-width: 140px;
    min-height: 80px;
    background-color: #1E1F21;
    color: #555759;
    cursor: pointer;
    &:hover {
      border: 1px solid #404040;
    }
    &-weekend {
      background-color: #272829;
      color: #555759;
    }
    &-selectedMonth {
      background-color: #1E1F21;
      color: #DDDCDD;
    }
    &-weekendMonth {
      background-color: #272829;
      color: #9F9FA1;
    }
  }
  &-day {
    //height: 100%;
    //width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;

  }
  &-events {
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      border-radius: 4px;
      margin: 0 1px;
      color: #220a08;
    }
    &.green:hover {
      background-color: #32d74b;
    }
    &.blue:hover {
      background-color: #1aadf8;
    }
    span {
      &:last-child {
        margin-left: auto;
      }
    }
    &:before {
      content: '';
      display: inline-block;
      width: 7px;
      height: 7px;
      background-color: #32d74b;
      border-radius: 50%;
    }
    &.green:before {
      background-color: #32d74b;
    }
    &.blue:before {
      background-color: #1aadf8;
    }
  }
  &-current {
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f00;
    border-radius: 50%;
    padding: 0;
    margin: 2px 2px 2px auto;
    color: #220a08;
  }
}
::ng-deep .modal-dialog {
  background: #000 !important;
  font-size: 50px !important;
}

// #32d74b
// #1aadf8
// #220a08