<div class="grid__items-wrapper">
    <div class="grid__items-header">
        <div class="grid__items-weekNameCell" *ngFor="let day of [0,1,2,3,4,5,6]">
            <div>
                {{ moment().day(day + 1).locale('ru').format('ddd') }}
            </div>
        </div>
    </div>
</div>
<div class="grid__items-wrapper">
    <div class="grid__items__itemCell"
         *ngFor="let day of daysArray"
         [ngClass]="{
      'grid__items__itemCell-weekend': day.day() === 6 || day.day() === 0,
      'grid__items__itemCell-selectedMonth': isSelectedMonth(day),
      'grid__items__itemCell-weekendMonth': isSelectedMonth(day) && (day.day() === 6 || day.day() === 0)
    }">
        <div class="grid__items-day"
             [ngClass]="{ 'grid__items-current': isCurrentDay(day) }">
                    {{ isCurrentDay(day) ? day.format('D') : day.format('D')}}
        </div>
    </div>
</div>
