<div class="auth-form">
    <form [formGroup]="formService">
        <div class="form-group">
            <div class="btn-group" dropdown>
                <button
                    id="button-animated"
                    dropdownToggle
                    type="button"
                    class="btn btn-primary dropdown-toggle"
                    aria-controls="dropdown-animated"
                >
                    Выберите основную услугу
                    <span class="caret"></span>
                </button>
                <ul
                    *dropdownMenu
                    id="dropdown-animated"
                    class="dropdown-menu"
                    role="menu"
                    aria-labelledby="button-animated"
                >
                    <li></li>
                    <li *ngFor="let service of services" role="menuitem">
                        <a class="dropdown-item" href="#">{{ service.service }}</a>
                    </li>
                </ul>
            </div>
<!--            <div>-->
<!--                <label for="service">Введите наименование услуги</label>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" id="service" formControlName="service">-->
        </div>
        <div class="form-group">
            <div>
                <label for="price">Введите стоимость услуги</label>
            </div>
            <input type="text" class="form-control" id="price" formControlName="price">
        </div>
        <button
            type="submit"
            class="btn btn-primary button-submit"
            (click)="onSubmit()">Добавить</button>
    </form>
</div>