<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="inputEmail">E-mail</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Введите e-mail" formControlName="email">
    </div>
    <div class="form-group">
        <label for="inputFio">ФИО</label>
        <input type="email" class="form-control" id="inputFio" placeholder="Введите ФИО" formControlName="fio">
    </div>
    <div class="form-group">
        <label for="inputPassword">Пароль</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Введите пароль" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Зарегистрироваться</button>
</form>