.personal__area {
  background-color: #ccc;
  padding: 10px;
  height: 100vh;
}
:host ::ng-deep  {
  .tab-container {
    display: flex;
    //min-width: 100%;
  }
  .nav {
    flex-grow: 0.2;
    flex-shrink: 0;
    border-right: 1px solid black;
  }
  .tab-content {
    flex-grow: 2;
  }
}

