<div class="personal__area">
<!--    <div class="personal__area-header"></div>-->
    <tabset [vertical]="true" type="pills">
        <tab *ngFor="let item of itemsMenu" [heading]="item.title" [ngSwitch]="item.id">
            <app-widgets *ngSwitchCase="ItemsMenuEnum.main" [widgets]="widgets"></app-widgets>
            <app-settings *ngSwitchCase="ItemsMenuEnum.settings"></app-settings>
            <app-calendar *ngSwitchCase="ItemsMenuEnum.calendar"></app-calendar>
        </tab>
    </tabset>
</div>