<div class="calendar__header">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 612" fill="#9F9FA1" width="30" height="30">
            <g transform="translate(50, 50)">
                <path d="M381,236H276V131c0-11-9-20-20-20s-20,9-20,20v105H131c-11,0-20,9-20,20s9,20,20,20h105v105c0,11,9,20,20,20  s20-9,20-20V276h105c11,0,20-9,20-20S392,236,381,236z"/>
            </g>
        </svg>
    </div>
    <div class="calendar__header-control">
        <div>День</div>
        <div>Неделя</div>
        <div>Месяц</div>
        <div class="calendar__header-control-active">Год</div>
    </div>
</div>
