<div class="app__wrapper">
    <header class="header">
        <div *ngIf="currentUser" class="header__title">
            <p>{{ headerPersonalArea }}</p>
        </div>
        <ul>
            <li><a [routerLink]="['']">Главная</a></li>
            <li><a [routerLink]="['/journal']">Журнал</a></li>
        </ul>
        <img
            class="header__exit svg-icon"
            [src]="currentUser ? './assets/img/sprite/exit.svg' : './assets/img/sprite/authentication.svg'"
            [title]="currentUser ? 'Выход' : 'Вход'"
            (click)="modalService.openModal(!currentUser ? modalAuthentication : modalLogout)">
    </header>

    <ng-template #modalAuthentication>
        <div class="modal-calendar-header">
            <h4 class="modal-title pull-left">Вход в личный кабинет</h4>
        </div>
        <div class="modal-body">
            <app-authorization (authorizationSuccess)="authorizationSuccess($event)"></app-authorization>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modalService.closeModal()">Закрыть</button>
        </div>
    </ng-template>

    <ng-template #modalLogout>
        <div class="modal-calendar-header">
            <h4 class="modal-title pull-left">Выход из личного кабинета</h4>
        </div>
        <div class="modal-body">
            Вы уверены что хотите выйти?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="exit(); modalService.closeModal()">Выход</button>
            <button type="button" class="btn btn-default" (click)="modalService.closeModal()">Отмена</button>
        </div>
    </ng-template>
</div>

<div *ngIf="loader | async" class="loader d-flex justify-content-center">
    <span class="loader-spinner spinner-border spinner-border-md"></span>
</div>

<router-outlet></router-outlet>