<div class="wizard__wrapper">
        <div class="wizard__date">
            <span>ноябрь </span>
            <span>2023 </span>
            <span>г.</span>
        </div>

<!--        <ButtonsWrapper>-->
<!--            <ButtonWrapper onClick={prevHandler}>&lt;</ButtonWrapper>{/* переписать на свой компонент btn*/}-->
<!--            <TodayButton onClick={todayHandler}>сегодня</TodayButton>-->
<!--            <ButtonWrapper onClick={nextHandler}>&gt;</ButtonWrapper>-->
<!--        </ButtonsWrapper>-->
</div>
