.profile {
  height: 100%;
  min-width: 100% !important;
  background-color: white;
  display: flex;

  &__header {

  }

  &__sidebar {
    width: 284px;
    flex-shrink: 0;
    margin-right: 25px;
    border: 1px solid red;

    &-user {

    }

    &-menu {

    }
  }

  &__main {
    border: 1px solid green;
    flex-grow: 1;
    max-width: calc(100% - 309px);

    &-content {

    }
  }
}