<div class="content">
    <header class="header">
        <div class="header-logo"></div>
        <div *ngIf="isOpenPersonalArea" class="header-name">
            {{ headerPersonalArea }}
        </div>
        <div class="header-links">
            <img
                class="header-links__authentication svg-icon"
                [src]="isOpenPersonalArea ? './assets/img/sprite/exit.svg' : './assets/img/sprite/authentication.svg'"
                [title]="isOpenPersonalArea ? 'Выход' : 'Вход'"
                (click)="isOpenPersonalArea ? exit() : modalService.openModal(modalAuthentication)">
        </div>
    </header>
    <main></main>
</div>

<ng-template #modalAuthentication>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Вход на сайт</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalService.closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-authorization></app-authorization>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalService.closeModal()">Закрыть</button>
    </div>
</ng-template>