<div class="auth-form">
    <form [formGroup]="formPhone">
        <div class="form-group">
            <div>
                <label for="inputPhone">Введите номер телефона</label>
            </div>

            <div class="phone-number" [class.phone-number-active]="isFocused">
                <div class="phone-number__country">
                    <div class="phone-number__country-container">
                        <img class="svg-icon" src="./assets/img/sprite/russia.svg">
                        <div class="phone-number__country-container__code">
                            <span>+7</span>
                        </div>
                    </div>
                </div>
                <div class="phone-number__input">
                    <input
                        type="number"
                        class="form-control"
                        id="inputPhone"
                        formControlName="phone"
                        [disabled]="isShowFormCode"
                        (focus)="onFocus()"
                        (blur)="onBlur()">
                </div>
            </div>

            <div *ngIf="isShowFormCode" formGroupName="code" class="sms-code">
                <div class="sms-code__title">
                    Введите код из СМС или прослушайте код, ответив на входящий вызов
                </div>

                <div class="sms-code__inputs-list">
                    <div *ngFor="let input of formPhone.controls.code.controls | keyvalue; let i=index" class="sms-code__inputs-list__item">
                        <input
                            #inputs
                            type="number"
                            inputmode="numeric"
                            class="sms-code__inputs-list__item"
                            (input)="inputChange(input, i)"
                            [formControlName]="input.key">
                    </div>
                </div>
                <button class="btn btn-primary button-submit" [disabled]="!formPhone.controls.code.valid" (click)="sendCode()">Отправить код</button>
            </div>

        </div>
        <button
            *ngIf="!isShowFormCode"
            type="submit"
            class="btn btn-primary button-submit"
            [disabled]="!formPhone.controls.phone.valid"
            (click)="onSubmit()">
            Получить код</button>
    </form>
</div>