@import "src/styles/variables";

.auth-form {
    display: flex;
    justify-content: center;
    padding: 40px;
    width: 100%;

    form {
        width: inherit;
    }

    .phone-number {
        display: flex;
        border: $border-color solid 1px;
        border-radius: 5px;
        padding: 2px;

        &-active {
            border: $black solid 1px;
        }

        &__country {
            display: flex;
            background-color: $white;

            &-active {
                border: $black solid 1px;
                border-right: 0;
            }

            &-container {
                align-self: center;
                display: flex;
                padding-left: 10px;

                &__code {
                    padding-left: 5px;
                }
            }
        }

        &__input {
            flex: 1;

            input {
                border: 0;
                padding-left: 0;
            }
        }
    }

    .button-submit {
        margin-top: 20px;
        width: 100%;
    }

    .sms-code {
        margin-top: 40px;

        &__title {
            text-align: center;
        }

        &__inputs {
            display: flex;
            justify-content: center;
            margin-top: 6px;
            margin-bottom: 40px;

            &-input {
                width: 80px;
                height: 80px;
                border: $border-color solid 1px;
                border-radius: 5px;
                text-align: center;

                &:not(:first-child) {
                    margin-left: 20px;
                }
            }
        }
    }
}

.form-control:focus {
    box-shadow: none;
}