@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "styles/global/icons";
@import "styles/variables";
@import "styles/mixins";

* {
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
}

html, body {
    height: 100vh;
    background-color: #f6f7ff;
}