.navbar {
  &__list {
    list-style-type: none;
    padding: 0;
    width: 100%;

    &__item {
      text-align: center;

      @media (hover: hover) {
        &:hover,
        &:focus {
          cursor: pointer;
        }
      }
    }
  }
}

.active {
  background: cadetblue;
}