.navbar {
  &__item {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;

    @media (hover: hover) {
      &:hover,
      &:focus {
        cursor: pointer;
      }
    }

    &__child {
      display: block;
      padding-left: 10px;
    }
  }

  &__icon {
    align-self: center;
    margin-right: 10px;
  }
}

.active {
  background: cadetblue;
}

.parent-active {
  background: none;
}